@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;1,200;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
    background: linear-gradient(#031101 ,#051B01   );
    

}
h1{
    font-family:  'Source Sans Pro', sans-serif;
    
}

.navbar a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.navbar .navbar-brand{
    font-size:2rem;
}



.navbar{
    box-shadow: 0 12px 20px rgba(1,1,0,1.1);
    
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {

    background: -webkit-linear-gradient(rgb(44, 223, 16),rgb(35, 149, 17) ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(44, 223, 16,0.5),rgb(35, 149, 17,0.5) );
    z-index: -1;
}

.bgcover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}

.service .service-image img{
    overflow: hidden;
}


.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-1{
    padding: 15px 22px;
    list-style: none;
    background: linear-gradient(to right,rgb(44, 223, 16),rgb(35, 149, 17) );
    border-radius:50px ;
    border: none;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
    
}

.btn-1:hover{
    color: #fff;
    transform: translateY(-6px);
}

.section-intro{
    margin-bottom: 40px;
}

.section-intro .divider{
    height: 4px;
    width: 70px;
    background:linear-gradient(to right,rgb(44, 223, 16),rgb(35, 149, 17) ); 
    margin: 16px auto;
}




.card-group .card .card-body{
    background:linear-gradient(rgb(44, 223, 16),rgb(35, 149, 17) ); 
}



.gallery{
    padding: 80px 0;
}

.gallery .gallery-items img{
    background-color: #29D60E;
}

form .form-control{
    
    border-radius: 0;
    background: transparent;
    color: #fff;
    border-color: rgb(255, 255, 255,0.7);
}

form .form-control:focus{
color: #fff;
background: transparent;

}

form input.form-control{
    height: 54px;
}

form .form-control::placeholder{
    color: #fff;
}


.form-group .form-control{
    border-radius: 15px;
}